:root {
    --tipografia-yesenova: 'Yeseva One', sans-serif;
    --tipografia-gloria: 'Gloria Hallelujah', sans-serif;
    --tipografia-arsenal: 'Arsenal', sans-serif;

    --fondo-principal-1: url("../img/fondo-principal-1.png");
    --fondo-principal-2: url("../img/fondo-principal-2.png");

    --fondo-subrayado: url("../img/subrayado-hola.svg");
    --fondo-pintitas: url("../img/pintitas-fondo-confirmacion.svg");

    --verde-oscuro: #329363;
    --verde-musgo: #5A8D7D;
    --verde-claro: #94DFC0;
    --verde-claro-fondo: #93C3AF;
    --verde-intermedio: #609F85;
    --blanco: #FFFFFF;
    --negro: #000000;
    --gris-deshabilitado: #6F6F6F;


    --fondo-carta: #FDFDFD;
    --color-carta-dorso: #B1DBCE;
    --color-letras-carta: #000000;
    --color-fecha-carta: #5E6C6F;
    --color-ampersan-carta: #94DFC0;
    --color-letras-reloj: #757575;
}

html, body {
    height: 100%;
    width: 100%;
}

.fondo-hojas {
    background: var(--fondo-principal-1) 0 0 no-repeat, var(--fondo-principal-2) 0 0 repeat-y;
    background-size: cover;
}

body {
    transition: background 0.5s ease 0s;
}

body.animado {
    background-position-y: 5%;
}

.seccion {
    width: 100%;
}

.fondo-verde, .fondo-verde:hover {
    background-color: var(--verde-musgo);
    color: var(--blanco);
}

.fondo-verde-intermedio, .fondo-verde-intermedio:hover {
    background-color: var(--verde-intermedio);
    color: var(--blanco);
}

.fondo-negro {
    background-color: var(--negro);
    color: var(--blanco);
}

.fondo-negro:hover {
    background-color: var(--gris-deshabilitado);
    color: var(--blanco);
}

.sin-fondo {
    background-color: transparent;
    color: var(--negro);
}

.borde-gris {
    border: 1px solid var(--gris-deshabilitado)!important;
}

.color-gris {
    color: var(--gris-deshabilitado);
}

.fondo-verde-claro {
    background-color: var(--verde-claro-fondo);
    color: var(--blanco);
}

.fondo-pintitas {
    background-image: var(--fondo-pintitas);
}

.verde-oscuro {
    color: var(--verde-oscuro);
}

.fuente-yesenova {
    font-family: var(--tipografia-yesenova);
}

.fuente-gloria {
    font-family: var(--tipografia-gloria);
}

.fuente-arsenal {
    font-family: var(--tipografia-arsenal);
}

.texto-xl {
    font-size: 4rem;
}

.texto-l {
    font-size: 3rem;
}

.texto-m {
    font-size: 1.3rem;
}

.texto-s {
    font-size: 1rem;
}

.separacion-lineas {
    line-height: 4.75rem;
}

.separacion-lineas-s {
    line-height: 2rem;
}

.boton {
    font-family: var(--tipografia-yesenova);
    text-align: center;
    padding: 0.9rem 3.2rem;
    border-radius: 9px;
    border: 0;
    font-size: 1.5rem;
}

.subrayado-hola::after {
    content: "";
    display: block;
    margin-left: 15px;
    height: 20px;
    width: 100%;
    background: var(--fondo-subrayado) 0 0 no-repeat;
}

.flecha-verde-abajo {
    position: absolute;
    margin-top: 2.9rem;
    right: -2rem;
}

.flecha-gris-abajo {
    position: absolute;
    margin-top: 2.9rem;
    left: -9rem;
}

.sobre {
    position: relative;
}

.sobre img {
    max-width: 100%;
}

.sobre .solapa {
    position: absolute;
    z-index: 0;
}

.sobre .solapa .dorso {
    background-color: var(--color-carta-dorso);
    margin-top: -0.063rem;
    height: 30px;
    width: 100%;
}

.sobre .interior {
    padding-top: 0.675rem;
    position: relative;
    z-index: 1;
}

.sobre .carta {
    position: absolute;
    margin: 0 auto;
    width: 85%;
    top: 20%;
    left: 0.625rem;
    right: 0;
    z-index: 3;

    background: var(--fondo-carta);
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.25);
    transition: top 0.5s ease 0s;
}

.sobre.abierto .carta {
    top: 0;
}

.sobre .carta .interior {
    padding: 0.75rem 0.75rem 0;
}

.sobre .carta .interior .texto, .firma .texto {
    margin-top: 1.375rem;
    display: inline-block;
    width: 65%;
    text-align: right;
}

.sobre .carta .interior .ampersan, .firma .ampersan {
    display: inline-block;
    width: 32%;
    text-align: center;
    vertical-align: top;

    font-family: var(--tipografia-yesenova);
    font-size: 8.813rem;
    line-height: 163px;

    color: var(--color-ampersan-carta);
}
.sobre .carta .interior .texto .letras, .firma .texto .letras {
    font-family: var(--tipografia-yesenova);
    font-size: 3.938rem;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0;
    text-align: right;
    color: var(--color-letras-carta);
}
.sobre .carta .fecha {
    font-family: var(--tipografia-yesenova);
    font-size: 22px;
    line-height: 25px;
    text-align: center;
    margin-top: -10px;
    padding-bottom: 30px;

    color: var(--color-fecha-carta);
}
.sobre .cuerpo {
    width: 100%;
    position: absolute;
    bottom: 1.525rem;
    z-index: 4;
}

#contenedor_cuenta_atras * {
    font-family: var(--tipografia-arsenal);
}

.informacion-cbu {
    width: 50%;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 10px 15px;
    margin: 0 -15px;
    border-radius: 7px;
}

.fade-in-out {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.4s ease;
}
.fade-in-out.oculto {
    visibility: hidden;
    opacity: 0;
}

.flotante {
    position: absolute;
    top: 0;
}

#popUpConfirmacion.oculto .temblor {
    animation: none;
}

#popUpConfirmacion .temblor {
    animation: animacion-temblor 10s ease infinite;
    transform-origin: 50% 50%;
}

@keyframes animacion-temblor {
    0% { transform:translate(0,0) }
    1.78571% { transform:translate(5px,0) }
    3.57143% { transform:translate(0,0) }
    5.35714% { transform:translate(5px,0) }
    7.14286% { transform:translate(0,0) }
    8.92857% { transform:translate(5px,0) }
    10.71429% { transform:translate(0,0) }
    100% { transform:translate(0,0) }
}

@media (max-width: 600px) {
    .flecha-verde-abajo {
        height: 6rem;
    }

    .flecha-gris-abajo {
        height: 8rem;
        left: -2rem;
    }

    .boton-adaptable {
        padding: 0.9rem 2.5rem;
        width: 100%;
        display: block;
    }

    .texto-xl {
        font-size: 3.5rem;
    }

    .texto-l {
        font-size: 2.3rem;
    }

    .subrayado-hola::after {
        width: 45%;
    }

    .sobre .carta {
        top: 12%;
    }
    .sobre.abierto .carta {
        top: -10%;
    }
    .sobre .carta .interior .texto .letras {
        font-size: 3.738rem;
    }
    .sobre .carta .interior .ampersan {
        font-size: 7.313rem;
    }

    .informacion-cbu {
        width: auto;
    }

    .seccion-pregunta {
        height: 100%;
    }

    .ClassyCountdown-seconds {
        display: none!important;
    }

    .ClassyCountdown-days, .ClassyCountdown-hours, .ClassyCountdown-minutes {
        width: 29%!important;
        height: auto!important;
        margin: 5px!important;
    }

    .ClassyCountdown-days > div, .ClassyCountdown-hours > div, .ClassyCountdown-minutes > div{
        width: 100%!important;
        height: auto!important;
    }

    .ClassyCountdown-days > span, .ClassyCountdown-hours > span, .ClassyCountdown-minutes > span{
        margin-top: -21px!important;
        font-size: 20px!important;
    }

    .ClassyCountdown-days > div canvas, .ClassyCountdown-hours > div canvas, .ClassyCountdown-minutes > div canvas{
        width: 100%!important;
        height: auto!important;
    }
}

